<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Cadastro</title>
    <link rel="icon" type="image/png" sizes="20X20" href="/img/Cat.png">

    <!-- Acrescentar bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">



    <!-- Acrescentar chamada para arquivo CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">

    <!-- Fontes Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

</head>


<body>

<!------------  Nav bar e Titulo pagina ---------------------------------------------- -->
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(255, 247, 233)">

        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#"><img th:src="@{/img/Abriga_Gatos.png}" width="130vh"></a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item p-2">
                        <a class="nav-link clicar-nav" aria-current="page"  th:href="@{/doacao}"
                           target="blank">Doação</a>
                    </li>

                    <li class="nav-item p-2">
                        <a class="nav-link clicar-nav" aria-current="page"  th:href="@{/contato}"
                           target="blank">Contatos</a>
                    </li>

                    <li class="nav-item p-2">
                        <a class="nav-link clicar-nav" aria-current="page"  th:href="@{/index}" target="blank">Home</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <!-- titulo pagina  -->
        <div class="row justify-content-start">
            <div class="col">
                <p class="titulo">Cadastro de Parceiros</p>
            </div>

        </div>

    <div  class="justify-content-center" >
        <p class="texto-secundario">Ao final do preenchimentop, click no botão "validar formulário" antes de finalizar o cadastro</p>
    </div>


</div>

<!-- -----  Cadastro  -------------------- -->
<form action="#" method="POST" th:action="@{/saveParceiro}"  th:object="${parceiro}">

    <div class="container">

        <div class="row mb-4 row-top justify-content-center" id="linha1">

            <div class="col-12 col-md-4" id="Elemento_1">
                <h4 class="chamadas">Dados Pessoais</h4><br>

                    <label for="nome">Nome</label><br>
                    <input class="form-control entrada" name="nome" id="nome"placeholder="só letras" th:field="*{nomeCompleto}" type="text" maxlength="25">

                    <label for="cpf">CPF / CNPJ</label><br>
                    <input class="form-control entrada" name="cpf" id="cpf" placeholder="cpf/cnpj válido - só numeros" th:field="*{cpfcnpj}" type="text" maxlength="14">

                    <label for="tel">Whatapps / Cel </label><br>
                    <input class="form-control entrada" name="wap" id="wap" placeholder="(00) 00000-0000" th:field="*{telefone}" type="tel" >

                    <br><label for="email">Email</label><br>
                    <input class="form-control  entrada" name="email" id="email" placeholder="seuemail@dominio" th:field="*{email}" type="text">

                    <br><br><span>Parceria</span>
                    <select name="parc" id="parc" class="entrada input-padrao" th:field="*{tipoParceria}">
                        <option value="" selected="selected">Selecione...</option>
                        <option th:value="1">Colaboradora(o)</option>
                        <option th:value="2">Veterinária(o)</option>
                        <option th:value="3">Pet-Shop</option>
                        <option th:value="4">ONG</option>
                    </select>

            </div>

            <div class="col-12 col-md-4" id="Elemento_2">
                
                <h4 class="chamadas">Endereço</h4><br>

                <label>Cep</label><br>
                <input name="cep" type="text" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);" class="entrada" th:field="*{cep}">
                <span class="pequeno">&nbsp&nbsp < tecle "TAB" para pesquisar > </tecle></span><br><br>

                <label>Rua</label><br>
                <input name="rua" type="text" id="rua" size="25" class="entrada" th:field="*{rua}"><br><br>

                <label>Numero</label><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span><label>Complemento</label><br>
                <input name="num" type="text" id="num" size="5" class="entrada" th:field="*{numero}"><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>

                <input name="comp" type="text" id="comp" size="10" class="entrada" th:field="*{complemento}"><br><br>

                <label>Bairro</label><br>
                <input name="bairro" type="text" id="bairro" size="15" class="entrada" th:field="*{bairro}"><br><br>


                <section class="flutuar-e">
                    <label>Cidade</label><br>
                    <input name="cidade" type="text" id="cidade" size="15" class="entrada" th:field="*{cidade}">
                    <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                </section>

                <section class="flutuar-e">
                    <label class="flutuar-d">Estado</label><br>                          
                    <input name="uf" type="text" id="uf" size="2" class="entrada" th:field="*{estado}">
                </section>

            </div>
        </div>

        <div class="row mb-2 quadro-bege justify-content-center" id="linha2">

            <div class="col-12 col-md-2 m-2" id="Elemento_5">
                <button type="button" class="botao" onclick="return validar_tudo();">Validar Formulário</button>
            </div>

            <div class="col-12 col-md-2 m-2" id="Elemento_6">
                <button type="submit" id="assinar" class="botao" disabled>Cadastrar</button>
            </div>

        </div>

    </div>

</form>

       
    <!-- -----  Footer  -------------------- -->
    <footer class="container" id="social-icons-container">

        <div class="row justify-content-center row-top">

            <span class="secondary-color">Abriga Gatos &copy; 2021. Nos encontre na redes sociais...</span>

            <div class="col-1">
                <a href="#"> <i class="bi bi-facebook secondary-color"></i></a>
            </div>

            <div class="col-1">
                <a href="#"> <i class="bi bi-instagram secondary-color"></i></a>
            </div>

            <div class="col-1">
                <a href="#"> <i class="bi bi-twitter secondary-color"></i></a>
            </div>
        </div>
    </footer>

</body>

<script src="/javascript/validar.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>


<!-- Carregando bibliotecas para o bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


</html>