<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <title>Doação</title>
  <link rel="icon" type="image/png" sizes="20X20" href="/img/Cat.png">

  <!-- Acrescentar bootstrap CSS -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">



  <!-- Acrescentar chamada para arquivo CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/modal.css">

  <!-- Fontes Google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

</head>


<body>
  <!------------  Nav bar e Titulo pagina ---------------------------------------------- -->
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(255, 247, 233)">

      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#"><img src="/img/Abriga_Gatos.png" width="130vh"></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item p-2">
              <a class="nav-link clicar-nav" aria-current="page" th:href="@{/parceiros}" target="blank">Parceiros</a>
            </li>

            <li class="nav-item p-2">
              <a class="nav-link clicar-nav" aria-current="page" th:href="@{/contato}"target="blank">Contatos</a>
            </li>

            <li class="nav-item p-2">
              <a class="nav-link clicar-nav" aria-current="page" th:href="@{/index}" target="blank">Home</a>
            </li>

          </ul>

        </div>

      </div>

    </nav>
   <!-- titulo pagina  -->
    <div class="row justify-content-start">
      <div class="col">
        <p class="lema">Doações</p>
      </div>

    </div>
  </div>

  <!-- -----  Doacao -------------------- -->

  <div class="container">

    <div class="row mb-4 row-top" id="linha1">

      <div class="col-12 col-md-3 texto" id="Elemento_1">
        <h3 class="chamadas">Nos ajude a ajudar</h3><br>
        <p>Click nas imagens e descubra as várias formas de colaborar</p>
        <p>Entre em contato e combinamos como retirar.</p>
        <p>Toda a forma de ajuda será bem vinda.</p>

      </div>

      <div class="col-12 col-md-3" id="Elemento_2">
        <div class="dropdown clicar">
          <img src="/img/dinheiro.png" width="50%" class="btn img-fluid dropdown-toggle" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></img>
          <h5>Dinheiro</h5>
          <ul class="dropdown-menu chamadas" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Pix : xxxxxxxx0001xx</a></li>
            <li><a class="dropdown-item" href="#">C/C Banco 000 c/c 11111-1</a></li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-md-3 align-self-center" id="Elemento_3">
        <div class="dropdown clicar">
          <img src="/img/Medicine.png" width="50%" class="btn img-fluid dropdown-toggle" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></img>
          <h5>Medicamentos</h5>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Medicamento em geral</a></li>
            <li><a class="dropdown-item" href="#">Vacinas</a></li>
            <li><a class="dropdown-item" href="#">Vermífugos</a></li>
          </ul>
        </div>
      </div>
    
      <div class="col-12 col-md-3 align-self-end" id="Elemento_4">
        <div class="dropdown clicar">
          <img src="/img/alimento.png" width="55%" class="btn img-fluid dropdown-toggle" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></img>
          <h5>Alimentos</h5>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Rações</a></li>
            <li><a class="dropdown-item" href="#">Pastinhas</a></li>
            <li><a class="dropdown-item" href="#">Grama de Gato</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mb-2 quadro-bege">

      <div class="col-12 col-md-9 pt-2 pl-3 texto-secundario" id="Elemento_5">
        <h5 class="chamadas">Respeito e Transparência</h5><br>
        <p>Nossa Politica de privacidade protege a voce e seus dados pessoais.</p>
        <p>Mensalmente publicamos relatório das doações e seu uso.</p>
        <p>Click nos links ao lado para saber mais...</p>
      </div>

      <div class="col-12 col-md-3 pb-2 texto-secundario icone" id="Elemento_6">
       <i class="bi bi-file-earmark-text chamadas"></i>
       <div class="dropdown">
          <p class="btn transparencia" type="button"
          id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Relatório Mensal</p>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Doações Recebidas</a></li>
            <li><a class="dropdown-item" href="#">Gastos</a></li>
          </ul>
        </div>

        <!--Modal Politica de privacidade -->
        <button type="button" class="btn texto-secundario" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Política de Privacidade </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Politica de Privacidade</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Na <b>Abriga Gatos</b>, privacidade e segurança são prioridades.
                Nos comprometemos com a transparência do tratamento de dados pessoais dos nossos usuários,clientes e colaboradores.
                <br><br>Ao utilizar nossos serviços, você entende que coletaremos e usaremos suas informações pessoais
                nas formas descritas nesta política alinhada a Lei Geral de Proteção de Dados (Lei Federal 13.709/2018).
                <br><br><b>1. Quais dados coletamos sobre você e para qual finalidade?</b><br>
                Nosso site coleta e utiliza alguns dados pessoais seus, de forma a viabilizar a prestação de serviços e aprimorar a experiência de uso.
                Coletados com objetivo de contato de pessoas interessadas em nosso trabalho e/ou vir a ser parceiro ou voluntário.
                <br><br><b>2. Consentimento</b><br>
                É a partir do seu consentimento que tratamos os seus dados pessoais.
                O consentimento é a manifestação livre, informada e inequívoca pela qual você autoriza
                a AbrigaGato a tratar seus dados.
                Assim, em consonância com a Lei Geral de Proteção de Dados, seus dados só serão coletados,
                tratados e armazenados mediante prévio e expresso consentimento.
                Em nosso site entendemos que voce deu seu consentimento ao preencher os forumlário e envia-los,
                seja em Cadastro de Parceiros ou com objetico de contato.
                <br><br>Dessa forma, a  “Abriga Gatos”, inscrita no CNPJ/MF sob o nº 00.000.000/0001-xx,
                no papel de Controladora de Dados, obriga-se ao disposto na presente Política de Privacidade.
                <br><br>Quer mais detalhes ? Contacte no Encarregado de Proteção de Dados - <b>dpo@abrigagatos.com.br</b>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <! --------------------------------->
      </div>


    </div>

  <!-- -----  Footer  -------------------- -->
  <footer class="container" id="social-icons-container">

    <div class="row justify-content-center row-top">

      <span class="secondary-color">Abriga Gatos &copy; 2021. Nos encontre na redes sociais...</span>

      <div class="col-1">
        <a href="#"> <i class="bi bi-facebook secondary-color"></i></a>
      </div>

      <div class="col-1">
        <a href="#"> <i class="bi bi-instagram secondary-color"></i></a>
      </div>

      <div class="col-1">
        <a href="#"> <i class="bi bi-twitter secondary-color"></i></a>
      </div>
    </div>
  </footer>

</body>

<script src="/javascript/modal.js"> </script>


<!-- Carregando bibliotecas para o bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</html>