<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Parceiro Management System</title>

    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">

</head>
<body>

<div class="container my-2">
    <h1>Lista Parceiros</h1>


    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=nomeCompleto&sortDir=' + ${reverseSortDir}}">
                    Nome Completo</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=cpfcnpj&sortDir=' + ${reverseSortDir}}">
                    CPF / CNPJ</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=telefone&sortDir=' + ${reverseSortDir}}">
                    Telefone</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    E-mail</a>
            </th>

            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Tipo Parceria</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    CEP</a>
            </th>

            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Rua</a>
            </th>

            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Numero</a>
            </th>

            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Complemento</a>
            </th>

            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Bairro</a>
            </th>

            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Cidade</a>
            </th>

            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Estado</a>
            </th>



            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="parceiro : ${listParceiros}">
            <td th:text="${parceiro.nomeCompleto}"></td>
            <td th:text="${parceiro.cpfcnpj}"></td>
            <td th:text="${parceiro.telefone}"></td>
            <td th:text="${parceiro.email}"></td>
            <td th:text="${parceiro.tipoParceria}"></td>
            <td th:text="${parceiro.cep}"></td>
            <td th:text="${parceiro.rua}"></td>
            <td th:text="${parceiro.numero}"></td>
            <td th:text="${parceiro.complemento}"></td>
            <td th:text="${parceiro.bairro}"></td>
            <td th:text="${parceiro.cidade}"></td>
            <td th:text="${parceiro.estado}"></td>

            <td><a class="btn btn-primary" th:href="@{/atualizarParceiro/{id}(id=${parceiro.id})}">Update</a>
                <a class="btn btn-danger" th:href="@{/deleteParceiro/{id}(id=${parceiro.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                           th:if="${currentPage != i}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class="col-sm-1">
                <a th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                   th:if="${currentPage < totalPages}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                   th:if="${currentPage < totalPages}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>