<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Parceiros</title>
    <link rel="icon" type="image/png" sizes="20X20" href="/img/Cat.png">

    <!-- Acrescentar bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">



    <!-- Acrescentar chamada para arquivo CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">

    <!-- Fontes Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

</head>


<body>
    <!------------  Nav bar e titulo pagina ---------------------------------------------- -->
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(255, 247, 233)">

            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="#"><img th:src="@{/img/Abriga_Gatos.png}" width="130vh"></a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item p-2">
                            <a class="nav-link clicar-nav" aria-current="page" th:href="@{/construcao}"
                                target="blank">Porque Abrigar</a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="nav-link clicar-nav" aria-current="page"  th:href="@{/doacao}"
                                target="blank">Doação</a>
                        </li>

                        <li class="nav-item p-2">
                            <a class="nav-link clicar-nav" aria-current="page"  th:href="@{/contato}"
                                target="blank">Contatos</a>
                        </li>

                        <li class="nav-item p-2">
                            <a class="nav-link clicar-nav" aria-current="page"  th:href="@{/index}" target="blank">Home</a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>

        <!-- titulo pagina  -->
        <div class="row justify-content-start">
            <div class="col">
                <p class="lema">Parceiros</p>
            </div>

        </div>
    </div>

    <!-- -----  Parceiros -------------------- -->

    <div div class="container">

        <div class="row mb-4 row-top" id="linha_1">

            <div class="col-12 col-md-3 texto" id="Elemento_1">
                <h3 class="chamadas">Quer conhecer nossos parceiros?</h3><br>
                <p>Click nas imagens e obtenha</p>
                <p>informações sobre estes "Amigatos"</p>
            </div>

            <div class="col-12 col-md-3 align-self-start" id="Elemento_2">
                <!-- Imagem para acionar modal  -->
                <div class="clicar">
                    <img src="/img/veterinarios.png" class="img-fluid-par btn" data-bs-toggle="modal"  data-bs-target="#veterinarios" width="50%">
                    <p>Veterinários</p>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="veterinarios" tabindex="-1" aria-labelledby="veterinarios" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="veterinarios">Veterinários</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Dra Thais<br>
                                whatsapp: (11) x.xxx-xxxx<br><br>
                                Clínica Pet & Cia<br>
                                whatsapp: (11) x.xxx-xxxx<br><br>
                                Center Pets<br>
                                whatsapp: (11) x.xxx-xxxx
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 " id="Elemento_3">
                <!-- Imagem para acionar modal -->
                <div class="clicar">
                    <img src="/img/team.png" class="img-fluid-par btn" data-bs-toggle="modal" data-bs-target="#colaboradores" width="55%">
                    <p>Colaboradores</p>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="colaboradores" tabindex="-1" aria-labelledby="colaboradores" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="colaboradores">Colaboradores</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Elizabeth - Administradora<br>
                                Dra. Thaís - Conselheira Veterinária<br>
                                Péricles - Consultor<br>
                                Fábio José - Adm. Site
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 align-self-start" id="Elemento_4">

                <!-- Imagem para acionar modal -->
                <div class="clicar">
                    <img src="/img/petshop.png" class="img-fluid-par btn" data-bs-toggle="modal" data-bs-target="#petshop" width="50%">
                    <p>Pets Shops</p>    
                </div>
                <!-- Modal -->
                <div class="modal fade" id="petshop" tabindex="-1" aria-labelledby="petshop" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="petshop">Pets Shops</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Pets & Cia<br>
                                whatsapp : (11) x.xxx-xxxx<br><br>
                                Bem Gatão<br>
                                whatsapp : (11) x.xxx-xxxx<br><br>
                                Cat Kombi :<br>
                                whatsapp : (11) x.xxx-xxxx
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 justify-content-center quadro-bege" id="linha_2">

            <div class="col-12 col-md-3 pt-3 pl-3 texto" id="Elemento_5">
                <h3 class="chamadas">Quer ser um parceiro ?</h3><br>
                <p>Click em "Cadastro"</p>
                <p>e venha ser um "Amigatos"</p>
            </div>

            <div class="col-12 col-md-3 pb-2 pt-2 align-self-center clicar" id="Elemento_6">
                <a th:href="@{/cadastroParceiros}" target="blank"><img src="/img/cadastro.png" class="btn"
                        data-target="#cadastro" width="50%"></a>
                <p>Cadastro</p>
            </div>

        </div>
    </div>

    <!-- -----  Footer  -------------------- -->
    <footer class="container" id="social-icons-container">

        <div class="row justify-content-center row-top">

            <span class="secondary-color">Abriga Gatos &copy; 2021. Nos encontre na redes sociais...</span>

            <div class="col-1">
                <a href="#"> <i class="bi bi-facebook secondary-color"></i></a>
            </div>

            <div class="col-1">
                <a href="#"> <i class="bi bi-instagram secondary-color"></i></a>
            </div>

            <div class="col-1">
                <a href="#"> <i class="bi bi-twitter secondary-color"></i></a>
            </div>
        </div>
    </footer>

</body>

<script src="/javascript/modal.js"> </script>


<!-- Carregando bibliotecas para o bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


</html>